# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
media/
staticfiles/

# Virtual environments
venv/
ENV/
env/
.venv/
.virtualenv/

# VS Code
.vscode/

# Node (React)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production
.env.development

# macOS
.DS_Store

# Docker
*.bak
*.swp
docker-compose.override.yml
